<table class="table table-striped">
  <thead>
    <tr>
      <td>Id</td>
      <td>Name</td>
      <td>Origin</td>
      <td>Destination</td>
    </tr>
  </thead>

  <tbody>
    {{range .}}
      <tr>
        <td>{{.Id}}</td>
        <td>
          <a href="/repositories/{{.Id}}">{{.Name}}</a>
        </td>
        <td>{{.Origin}}</td>
        <td>{{.Destination}}</td>
      </tr>
    {{ end }}
  </tbody>
</table>

<a href="/repositories/new" class="btn btn-default">Create New Repository</a>
